<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Operating System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/static/fabicon1.jpg">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-primary-subtle sticky-top">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <a class="navbar-brand" href="#">EFFICIO..</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login_page">Scheduling</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login_page">Page Fault</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Memory</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Developers</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fliud mt-3">
      <h1 class="text-center text-success"><u>OPERATING SYSTEM</u></h1>
      <div class="text-bg-secondary p-3 container">
        <p class="ms-5 me-5 mt-4 fs-5">
          An<mark>operating system (OS)</mark> is a crucial software component that manages hardware and software resources on a computer or device. It acts as an intermediary between users and the computer hardware, ensuring that both the user and the system can operate efficiently.
        </p>

        <p class="ms-5 me-5b fs-5">
          <b>Process management</b>oversees program execution, allocating CPU time efficiently and supporting multitasking. Memory management controls system memory allocation, ensuring processes get resources without conflicts or inefficiencies.
        </p>

        <p class="ms-5 me-5 fs-5">
          <b>File system management</b> in an OS organizes data storage, providing a structured way to store, retrieve, and manage files on storage devices such as hard drives or solid-state drives. It ensures that files are stored efficiently and that users can easily access, modify, or delete them.
        </p>

        <p class="ms-5 me-5 fs-5">
          <b>Device management</b>in an OS ensures that input and output devices (such as keyboards, printers, or monitors) are properly controlled, enabling communication between the software and hardware components.
        </p>

        <p class="ms-5 me-5 fs-5">
          Lastly, the operating system provides a <b>user interface (UI)</b> that allows users to interactwith the computer system. This can be through command-line interfaces (CLI) or graphical user interfaces(GUI), making the system accessible and user-friendly.
        </p>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <button class="btn btn-warning mt-2"><a href="/login_page">Login</a></button>
    </div>

    <footer class="bg-dark text-white text-center p-3 fixed-bottom">&copy; 2024 enigmadev.com All rights reserved.</footer>
  </body>
</html>
